CreateSFContactV1/SalesforceResources/AsyncAPI.xsd

<?xml version="1.0" encoding="UTF-8"?><schema targetNamespace="http://www.force.com/2009/06/asyncapi/dataload" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://www.force.com/2009/06/asyncapi/dataload">
 <element name="jobInfo" type="tns:JobInfo" />
 <element name="batchInfoList" type="tns:BatchInfoList" />
 <element name="batchInfo" type="tns:BatchInfo" />
 <element name="error" type="tns:Error" />
 <element name="results" type="tns:BatchResult" />
 <element name="queryResult" type="tns:QueryResult" />
 <complexType name="Error">
  <sequence>
   <element name="exceptionCode" type="string" />
   <element name="exceptionMessage" type="string" />
  </sequence>
 </complexType>
 <complexType name="JobInfo">
  <sequence>
   <element name="id" type="string" minOccurs="0" maxOccurs="1" />
   <element name="operation" type="tns:OperationEnum" minOccurs="0" maxOccurs="1" />
   <element name="object" type="string" minOccurs="0" maxOccurs="1" />
   <element name="createdById" type="string" minOccurs="0" maxOccurs="1" />
   <element name="createdDate" type="dateTime" minOccurs="0" maxOccurs="1" />
   <element name="systemModstamp" type="dateTime" minOccurs="0" maxOccurs="1" />
   <element name="state" type="tns:JobStateEnum" minOccurs="0" maxOccurs="1" />
   <element name="externalIdFieldName" minOccurs="0" maxOccurs="1" type="string" />
   <element name="concurrencyMode" minOccurs="0" maxOccurs="1" type="tns:ConcurrencyModeEnum" />
   <element name="contentType" minOccurs="0" maxOccurs="1" type="tns:ContentType" />
   <element name="numberBatchesQueued" type="int" minOccurs="0" maxOccurs="1" />
   <element name="numberBatchesInProgress" type="int" minOccurs="0" maxOccurs="1" />
   <element name="numberBatchesCompleted" type="int" minOccurs="0" maxOccurs="1" />
   <element name="numberBatchesFailed" type="int" minOccurs="0" maxOccurs="1" />
   <element name="numberBatchesTotal" type="int" minOccurs="0" maxOccurs="1" />
   <element name="numberRecordsProcessed" type="int" minOccurs="0" maxOccurs="1" />
   <element name="numberRetries" type="int" minOccurs="0" maxOccurs="1" />
   <element name="apiVersion" type="string" minOccurs="0" maxOccurs="1" />
   <element name="assignmentRuleId" type="string" minOccurs="0" maxOccurs="1" />
   <element name="numberRecordsFailed" type="int" minOccurs="0" maxOccurs="1" />
   <element name="totalProcessingTime" type="long" minOccurs="0" maxOccurs="1" />
   <element name="apiActiveProcessingTime" type="long" minOccurs="0" maxOccurs="1" />
   <element name="apexProcessingTime" type="long" minOccurs="0" maxOccurs="1" />
  </sequence>
 </complexType>
 <simpleType name="OperationEnum">
  <restriction base="string">
   <enumeration value="insert" />
   <enumeration value="upsert" />
   <enumeration value="update" />
   <enumeration value="delete" />
   <enumeration value="hardDelete" />
   <enumeration value="query" />
  </restriction>
 </simpleType>
 <simpleType name="JobStateEnum">
  <restriction base="string">
   <enumeration value="Open" />
   <enumeration value="Closed" />
   <enumeration value="Aborted" />
   <enumeration value="Failed" />
  </restriction>
 </simpleType>
 <complexType name="BatchInfo">
  <sequence>
   <element name="id" type="string" minOccurs="1" />
   <element name="jobId" type="string" minOccurs="1" maxOccurs="1" />
   <element name="state" type="tns:BatchStateEnum" minOccurs="1" maxOccurs="1" />
   <element name="stateMessage" type="string" minOccurs="0" maxOccurs="1" />
   <element name="createdDate" type="dateTime" minOccurs="1" maxOccurs="1" />
   <element name="systemModstamp" type="dateTime" minOccurs="0" maxOccurs="1" />
   <element name="numberRecordsProcessed" type="int" minOccurs="1" maxOccurs="1" />
   <element name="numberRecordsFailed" type="int" minOccurs="0" maxOccurs="1" />
   <element name="totalProcessingTime" type="long" minOccurs="0" maxOccurs="1" />
   <element name="apiActiveProcessingTime" type="long" minOccurs="0" maxOccurs="1" />
   <element name="apexProcessingTime" type="long" minOccurs="0" maxOccurs="1" />
  </sequence>
 </complexType>
 <simpleType name="BatchStateEnum">
  <restriction base="string">
   <enumeration value="Queued" />
   <enumeration value="InProgress" />
   <enumeration value="Completed" />
   <enumeration value="Failed" />
   <enumeration value="NotProcessed" />
  </restriction>
 </simpleType>
 <complexType name="BatchInfoList">
  <sequence>
   <element name="batchInfo" type="tns:BatchInfo" minOccurs="0" maxOccurs="unbounded" />
  </sequence>
 </complexType>
 <simpleType name="ConcurrencyModeEnum">
  <restriction base="string">
   <enumeration value="Parallel" />
   <enumeration value="Serial" />
  </restriction>
 </simpleType>
 <simpleType name="ContentType">
  <restriction base="string">
   <enumeration value="XML" />
   <enumeration value="CSV" />
   <enumeration value="ZIP_XML" />
   <enumeration value="ZIP_CSV" />
  </restriction>
 </simpleType>
 <complexType name="BatchResult">
  <sequence>
   <element name="result" type="tns:Result" minOccurs="0" maxOccurs="unbounded" />
  </sequence>
 </complexType>
 <complexType name="Result">
  <sequence>
   <element name="errors" type="tns:ResultError" minOccurs="0" maxOccurs="unbounded" />
   <element name="id" type="string" minOccurs="0" maxOccurs="1" />
   <element name="success" type="boolean" minOccurs="1" maxOccurs="1" />
   <element name="created" type="boolean" minOccurs="1" maxOccurs="1" />
  </sequence>
 </complexType>
 <complexType name="ResultError">
  <sequence>
   <element name="fields" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
   <element name="message" type="string" />
   <element name="statusCode" type="tns:StatusCode" />
  </sequence>
 </complexType>
 <complexType name="sObject">
  <sequence>
   <element name="type" type="string" />
   <element name="Id" type="tns:ID" nillable="true" />
   <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax" />
  </sequence>
 </complexType>
 <simpleType name="ID">
  <restriction base="string">
   <length value="18" />
   <pattern value="[a-zA-Z0-9]{18}" />
  </restriction>
 </simpleType>
 <complexType name="QueryResult">
  <sequence>
   <element name="records" type="tns:sObject" nillable="true" minOccurs="0" maxOccurs="unbounded" />
  </sequence>
 </complexType>
 <simpleType name="StatusCode">
  <restriction base="string">
   <enumeration value="ALL_OR_NONE_OPERATION_ROLLED_BACK" />
   <enumeration value="ALREADY_IN_PROCESS" />
   <enumeration value="ASSIGNEE_TYPE_REQUIRED" />
   <enumeration value="AURA_COMPILE_ERROR" />
   <enumeration value="BAD_CUSTOM_ENTITY_PARENT_DOMAIN" />
   <enumeration value="BCC_NOT_ALLOWED_IF_BCC_COMPLIANCE_ENABLED" />
   <enumeration value="CANNOT_CASCADE_PRODUCT_ACTIVE" />
   <enumeration value="CANNOT_CHANGE_FIELD_TYPE_OF_APEX_REFERENCED_FIELD" />
   <enumeration value="CANNOT_CHANGE_FIELD_TYPE_OF_REFERENCED_FIELD" />
   <enumeration value="CANNOT_CREATE_ANOTHER_MANAGED_PACKAGE" />
   <enumeration value="CANNOT_DEACTIVATE_DIVISION" />
   <enumeration value="CANNOT_DELETE_GLOBAL_ACTION_LIST" />
   <enumeration value="CANNOT_DELETE_LAST_DATED_CONVERSION_RATE" />
   <enumeration value="CANNOT_DELETE_MANAGED_OBJECT" />
   <enumeration value="CANNOT_DISABLE_LAST_ADMIN" />
   <enumeration value="CANNOT_ENABLE_IP_RESTRICT_REQUESTS" />
   <enumeration value="CANNOT_EXECUTE_FLOW_TRIGGER" />
   <enumeration value="CANNOT_FREEZE_SELF" />
   <enumeration value="CANNOT_INSERT_UPDATE_ACTIVATE_ENTITY" />
   <enumeration value="CANNOT_MODIFY_MANAGED_OBJECT" />
   <enumeration value="CANNOT_PASSWORD_LOCKOUT" />
   <enumeration value="CANNOT_POST_TO_ARCHIVED_GROUP" />
   <enumeration value="CANNOT_RENAME_APEX_REFERENCED_FIELD" />
   <enumeration value="CANNOT_RENAME_APEX_REFERENCED_OBJECT" />
   <enumeration value="CANNOT_RENAME_REFERENCED_FIELD" />
   <enumeration value="CANNOT_RENAME_REFERENCED_OBJECT" />
   <enumeration value="CANNOT_REPARENT_RECORD" />
   <enumeration value="CANNOT_UPDATE_CONVERTED_LEAD" />
   <enumeration value="CANT_DISABLE_CORP_CURRENCY" />
   <enumeration value="CANT_UNSET_CORP_CURRENCY" />
   <enumeration value="CHILD_SHARE_FAILS_PARENT" />
   <enumeration value="CIRCULAR_DEPENDENCY" />
   <enumeration value="CLEAN_SERVICE_ERROR" />
   <enumeration value="COLLISION_DETECTED" />
   <enumeration value="COMMUNITY_NOT_ACCESSIBLE" />
   <enumeration value="CONFLICTING_ENVIRONMENT_HUB_MEMBER" />
   <enumeration value="CONFLICTING_SSO_USER_MAPPING" />
   <enumeration value="CUSTOM_APEX_ERROR" />
   <enumeration value="CUSTOM_CLOB_FIELD_LIMIT_EXCEEDED" />
   <enumeration value="CUSTOM_ENTITY_OR_FIELD_LIMIT" />
   <enumeration value="CUSTOM_FIELD_INDEX_LIMIT_EXCEEDED" />
   <enumeration value="CUSTOM_INDEX_EXISTS" />
   <enumeration value="CUSTOM_LINK_LIMIT_EXCEEDED" />
   <enumeration value="CUSTOM_METADATA_LIMIT_EXCEEDED" />
   <enumeration value="CUSTOM_SETTINGS_LIMIT_EXCEEDED" />
   <enumeration value="CUSTOM_TAB_LIMIT_EXCEEDED" />
   <enumeration value="DATACLOUDADDRESS_NO_RECORDS_FOUND" />
   <enumeration value="DATACLOUDADDRESS_PROCESSING_ERROR" />
   <enumeration value="DATACLOUDADDRESS_SERVER_ERROR" />
   <enumeration value="DELETE_FAILED" />
   <enumeration value="DELETE_OPERATION_TOO_LARGE" />
   <enumeration value="DELETE_REQUIRED_ON_CASCADE" />
   <enumeration value="DEPENDENCY_EXISTS" />
   <enumeration value="DUPLICATES_DETECTED" />
   <enumeration value="DUPLICATE_CASE_SOLUTION" />
   <enumeration value="DUPLICATE_COMM_NICKNAME" />
   <enumeration value="DUPLICATE_CUSTOM_ENTITY_DEFINITION" />
   <enumeration value="DUPLICATE_CUSTOM_TAB_MOTIF" />
   <enumeration value="DUPLICATE_DEVELOPER_NAME" />
   <enumeration value="DUPLICATE_EXTERNAL_ID" />
   <enumeration value="DUPLICATE_MASTER_LABEL" />
   <enumeration value="DUPLICATE_SENDER_DISPLAY_NAME" />
   <enumeration value="DUPLICATE_USERNAME" />
   <enumeration value="DUPLICATE_VALUE" />
   <enumeration value="EMAIL_ADDRESS_BOUNCED" />
   <enumeration value="EMAIL_NOT_PROCESSED_DUE_TO_PRIOR_ERROR" />
   <enumeration value="EMAIL_OPTED_OUT" />
   <enumeration value="EMAIL_TEMPLATE_FORMULA_ERROR" />
   <enumeration value="EMAIL_TEMPLATE_MERGEFIELD_ACCESS_ERROR" />
   <enumeration value="EMAIL_TEMPLATE_MERGEFIELD_ERROR" />
   <enumeration value="EMAIL_TEMPLATE_MERGEFIELD_VALUE_ERROR" />
   <enumeration value="EMAIL_TEMPLATE_PROCESSING_ERROR" />
   <enumeration value="EMPTY_SCONTROL_FILE_NAME" />
   <enumeration value="ENTITY_FAILED_IFLASTMODIFIED_ON_UPDATE" />
   <enumeration value="ENTITY_IS_ARCHIVED" />
   <enumeration value="ENTITY_IS_DELETED" />
   <enumeration value="ENTITY_IS_LOCKED" />
   <enumeration value="ENTITY_SAVE_ERROR" />
   <enumeration value="ENTITY_SAVE_VALIDATION_ERROR" />
   <enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_CONFLICT" />
   <enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_ERROR_JOINING_HUB" />
   <enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_USER_ALREADY_IN_HUB" />
   <enumeration value="ENVIRONMENT_HUB_MEMBERSHIP_USER_NOT_ORG_ADMIN" />
   <enumeration value="ERROR_IN_MAILER" />
   <enumeration value="FAILED_ACTIVATION" />
   <enumeration value="FIELD_CUSTOM_VALIDATION_EXCEPTION" />
   <enumeration value="FIELD_FILTER_VALIDATION_EXCEPTION" />
   <enumeration value="FIELD_INTEGRITY_EXCEPTION" />
   <enumeration value="FIELD_KEYWORD_LIST_MATCH_LIMIT" />
   <enumeration value="FIELD_MODERATION_RULE_BLOCK" />
   <enumeration value="FIELD_NOT_UPDATABLE" />
   <enumeration value="FILTERED_LOOKUP_LIMIT_EXCEEDED" />
   <enumeration value="FIND_DUPLICATES_ERROR" />
   <enumeration value="FUNCTIONALITY_NOT_ENABLED" />
   <enumeration value="HTML_FILE_UPLOAD_NOT_ALLOWED" />
   <enumeration value="IMAGE_TOO_LARGE" />
   <enumeration value="INACTIVE_OWNER_OR_USER" />
   <enumeration value="INACTIVE_RULE_ERROR" />
   <enumeration value="INSERT_UPDATE_DELETE_NOT_ALLOWED_DURING_MAINTENANCE" />
   <enumeration value="INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY" />
   <enumeration value="INSUFFICIENT_ACCESS_OR_READONLY" />
   <enumeration value="INSUFFICIENT_ACCESS_TO_INSIGHTSEXTERNALDATA" />
   <enumeration value="INSUFFICIENT_CREDITS" />
   <enumeration value="INVALID_ACCESS_LEVEL" />
   <enumeration value="INVALID_ARGUMENT_TYPE" />
   <enumeration value="INVALID_ASSIGNEE_TYPE" />
   <enumeration value="INVALID_ASSIGNMENT_RULE" />
   <enumeration value="INVALID_BATCH_OPERATION" />
   <enumeration value="INVALID_CONTENT_TYPE" />
   <enumeration value="INVALID_CREDIT_CARD_INFO" />
   <enumeration value="INVALID_CROSS_REFERENCE_KEY" />
   <enumeration value="INVALID_CROSS_REFERENCE_TYPE_FOR_FIELD" />
   <enumeration value="INVALID_CURRENCY_CONV_RATE" />
   <enumeration value="INVALID_CURRENCY_CORP_RATE" />
   <enumeration value="INVALID_CURRENCY_ISO" />
   <enumeration value="INVALID_DATA_CATEGORY_GROUP_REFERENCE" />
   <enumeration value="INVALID_DATA_URI" />
   <enumeration value="INVALID_EMAIL_ADDRESS" />
   <enumeration value="INVALID_EMPTY_KEY_OWNER" />
   <enumeration value="INVALID_ENTITY_FOR_MATCH_ENGINE_ERROR" />
   <enumeration value="INVALID_ENTITY_FOR_MATCH_OPERATION_ERROR" />
   <enumeration value="INVALID_ENVIRONMENT_HUB_MEMBER" />
   <enumeration value="INVALID_EVENT_SUBSCRIPTION" />
   <enumeration value="INVALID_FIELD" />
   <enumeration value="INVALID_FIELD_FOR_INSERT_UPDATE" />
   <enumeration value="INVALID_FIELD_WHEN_USING_TEMPLATE" />
   <enumeration value="INVALID_FILTER_ACTION" />
   <enumeration value="INVALID_GOOGLE_DOCS_URL" />
   <enumeration value="INVALID_ID_FIELD" />
   <enumeration value="INVALID_INET_ADDRESS" />
   <enumeration value="INVALID_INPUT" />
   <enumeration value="INVALID_LINEITEM_CLONE_STATE" />
   <enumeration value="INVALID_MARKUP" />
   <enumeration value="INVALID_MASTER_OR_TRANSLATED_SOLUTION" />
   <enumeration value="INVALID_MESSAGE_ID_REFERENCE" />
   <enumeration value="INVALID_OAUTH_URL" />
   <enumeration value="INVALID_OPERATION" />
   <enumeration value="INVALID_OPERATOR" />
   <enumeration value="INVALID_OR_NULL_FOR_RESTRICTED_PICKLIST" />
   <enumeration value="INVALID_OWNER" />
   <enumeration value="INVALID_PACKAGE_LICENSE" />
   <enumeration value="INVALID_PACKAGE_VERSION" />
   <enumeration value="INVALID_PARTNER_NETWORK_STATUS" />
   <enumeration value="INVALID_PERSON_ACCOUNT_OPERATION" />
   <enumeration value="INVALID_QUERY_LOCATOR" />
   <enumeration value="INVALID_READ_ONLY_USER_DML" />
   <enumeration value="INVALID_RUNTIME_VALUE" />
   <enumeration value="INVALID_SAVE_AS_ACTIVITY_FLAG" />
   <enumeration value="INVALID_SESSION_ID" />
   <enumeration value="INVALID_SETUP_OWNER" />
   <enumeration value="INVALID_SIGNUP_COUNTRY" />
   <enumeration value="INVALID_SIGNUP_OPTION" />
   <enumeration value="INVALID_SITE_DELETE_EXCEPTION" />
   <enumeration value="INVALID_SITE_FILE_IMPORTED_EXCEPTION" />
   <enumeration value="INVALID_SITE_FILE_TYPE_EXCEPTION" />
   <enumeration value="INVALID_STATUS" />
   <enumeration value="INVALID_SUBDOMAIN" />
   <enumeration value="INVALID_TYPE" />
   <enumeration value="INVALID_TYPE_FOR_OPERATION" />
   <enumeration value="INVALID_TYPE_ON_FIELD_IN_RECORD" />
   <enumeration value="INVALID_USERID" />
   <enumeration value="IP_RANGE_LIMIT_EXCEEDED" />
   <enumeration value="JIGSAW_IMPORT_LIMIT_EXCEEDED" />
   <enumeration value="LICENSE_LIMIT_EXCEEDED" />
   <enumeration value="LIGHT_PORTAL_USER_EXCEPTION" />
   <enumeration value="LIMIT_EXCEEDED" />
   <enumeration value="MALFORMED_ID" />
   <enumeration value="MANAGER_NOT_DEFINED" />
   <enumeration value="MASSMAIL_RETRY_LIMIT_EXCEEDED" />
   <enumeration value="MASS_MAIL_LIMIT_EXCEEDED" />
   <enumeration value="MATCH_DEFINITION_ERROR" />
   <enumeration value="MATCH_OPERATION_ERROR" />
   <enumeration value="MATCH_OPERATION_INVALID_ENGINE_ERROR" />
   <enumeration value="MATCH_OPERATION_INVALID_RULE_ERROR" />
   <enumeration value="MATCH_OPERATION_MISSING_ENGINE_ERROR" />
   <enumeration value="MATCH_OPERATION_MISSING_OBJECT_TYPE_ERROR" />
   <enumeration value="MATCH_OPERATION_MISSING_OPTIONS_ERROR" />
   <enumeration value="MATCH_OPERATION_MISSING_RULE_ERROR" />
   <enumeration value="MATCH_OPERATION_UNKNOWN_RULE_ERROR" />
   <enumeration value="MATCH_OPERATION_UNSUPPORTED_VERSION_ERROR" />
   <enumeration value="MATCH_PRECONDITION_FAILED" />
   <enumeration value="MATCH_RUNTIME_ERROR" />
   <enumeration value="MATCH_SERVICE_ERROR" />
   <enumeration value="MATCH_SERVICE_TIMED_OUT" />
   <enumeration value="MATCH_SERVICE_UNAVAILABLE_ERROR" />
   <enumeration value="MAXIMUM_CCEMAILS_EXCEEDED" />
   <enumeration value="MAXIMUM_DASHBOARD_COMPONENTS_EXCEEDED" />
   <enumeration value="MAXIMUM_HIERARCHY_LEVELS_REACHED" />
   <enumeration value="MAXIMUM_SIZE_OF_ATTACHMENT" />
   <enumeration value="MAXIMUM_SIZE_OF_DOCUMENT" />
   <enumeration value="MAX_ACTIONS_PER_RULE_EXCEEDED" />
   <enumeration value="MAX_ACTIVE_RULES_EXCEEDED" />
   <enumeration value="MAX_APPROVAL_STEPS_EXCEEDED" />
   <enumeration value="MAX_FORMULAS_PER_RULE_EXCEEDED" />
   <enumeration value="MAX_RULES_EXCEEDED" />
   <enumeration value="MAX_RULE_ENTRIES_EXCEEDED" />
   <enumeration value="MAX_TASK_DESCRIPTION_EXCEEEDED" />
   <enumeration value="MAX_TM_RULES_EXCEEDED" />
   <enumeration value="MAX_TM_RULE_ITEMS_EXCEEDED" />
   <enumeration value="MERGE_FAILED" />
   <enumeration value="MISSING_ARGUMENT" />
   <enumeration value="MISSING_RECORD" />
   <enumeration value="MIXED_DML_OPERATION" />
   <enumeration value="NONUNIQUE_SHIPPING_ADDRESS" />
   <enumeration value="NO_APPLICABLE_PROCESS" />
   <enumeration value="NO_ATTACHMENT_PERMISSION" />
   <enumeration value="NO_INACTIVE_DIVISION_MEMBERS" />
   <enumeration value="NO_MASS_MAIL_PERMISSION" />
   <enumeration value="NO_PARTNER_PERMISSION" />
   <enumeration value="NO_SUCH_USER_EXISTS" />
   <enumeration value="NUMBER_OUTSIDE_VALID_RANGE" />
   <enumeration value="NUM_HISTORY_FIELDS_BY_SOBJECT_EXCEEDED" />
   <enumeration value="OPTED_OUT_OF_MASS_MAIL" />
   <enumeration value="OP_WITH_INVALID_USER_TYPE_EXCEPTION" />
   <enumeration value="PACKAGE_LICENSE_REQUIRED" />
   <enumeration value="PACKAGING_API_INSTALL_FAILED" />
   <enumeration value="PACKAGING_API_UNINSTALL_FAILED" />
   <enumeration value="PALI_INVALID_ACTION_ID" />
   <enumeration value="PALI_INVALID_ACTION_NAME" />
   <enumeration value="PALI_INVALID_ACTION_TYPE" />
   <enumeration value="PAL_INVALID_ENTITY_ID" />
   <enumeration value="PAL_INVALID_FLEXIPAGE_ID" />
   <enumeration value="PAL_INVALID_LAYOUT_ID" />
   <enumeration value="PAL_INVALID_PARAMETERS" />
   <enumeration value="PA_API_EXCEPTION" />
   <enumeration value="PA_AXIS_FAULT" />
   <enumeration value="PA_INVALID_ID_EXCEPTION" />
   <enumeration value="PA_NO_ACCESS_EXCEPTION" />
   <enumeration value="PA_NO_DATA_FOUND_EXCEPTION" />
   <enumeration value="PA_URI_SYNTAX_EXCEPTION" />
   <enumeration value="PA_VISIBLE_ACTIONS_FILTER_ORDERING_EXCEPTION" />
   <enumeration value="PORTAL_NO_ACCESS" />
   <enumeration value="PORTAL_USER_ALREADY_EXISTS_FOR_CONTACT" />
   <enumeration value="PRIVATE_CONTACT_ON_ASSET" />
   <enumeration value="QUERY_TIMEOUT" />
   <enumeration value="RECORD_IN_USE_BY_WORKFLOW" />
   <enumeration value="REPUTATION_MINIMUM_NUMBER_NOT_REACHED" />
   <enumeration value="REQUEST_RUNNING_TOO_LONG" />
   <enumeration value="REQUIRED_FEATURE_MISSING" />
   <enumeration value="REQUIRED_FIELD_MISSING" />
   <enumeration value="RETRIEVE_EXCHANGE_ATTACHMENT_FAILED" />
   <enumeration value="RETRIEVE_EXCHANGE_EMAIL_FAILED" />
   <enumeration value="RETRIEVE_EXCHANGE_EVENT_FAILED" />
   <enumeration value="SELF_REFERENCE_FROM_FLOW" />
   <enumeration value="SELF_REFERENCE_FROM_TRIGGER" />
   <enumeration value="SHARE_NEEDED_FOR_CHILD_OWNER" />
   <enumeration value="SINGLE_EMAIL_LIMIT_EXCEEDED" />
   <enumeration value="STANDARD_PRICE_NOT_DEFINED" />
   <enumeration value="STORAGE_LIMIT_EXCEEDED" />
   <enumeration value="STRING_TOO_LONG" />
   <enumeration value="SUBDOMAIN_IN_USE" />
   <enumeration value="TABSET_LIMIT_EXCEEDED" />
   <enumeration value="TEMPLATE_NOT_ACTIVE" />
   <enumeration value="TEMPLATE_NOT_FOUND" />
   <enumeration value="TERRITORY_REALIGN_IN_PROGRESS" />
   <enumeration value="TEXT_DATA_OUTSIDE_SUPPORTED_CHARSET" />
   <enumeration value="TOO_MANY_APEX_REQUESTS" />
   <enumeration value="TOO_MANY_ENUM_VALUE" />
   <enumeration value="TOO_MANY_POSSIBLE_USERS_EXIST" />
   <enumeration value="TRANSFER_REQUIRES_READ" />
   <enumeration value="UNABLE_TO_LOCK_ROW" />
   <enumeration value="UNAVAILABLE_RECORDTYPE_EXCEPTION" />
   <enumeration value="UNDELETE_FAILED" />
   <enumeration value="UNKNOWN_EXCEPTION" />
   <enumeration value="UNSPECIFIED_EMAIL_ADDRESS" />
   <enumeration value="UNSUPPORTED_APEX_TRIGGER_OPERATON" />
   <enumeration value="UNVERIFIED_SENDER_ADDRESS" />
   <enumeration value="USER_OWNS_PORTAL_ACCOUNT_EXCEPTION" />
   <enumeration value="USER_WITH_APEX_SHARES_EXCEPTION" />
   <enumeration value="VF_COMPILE_ERROR" />
   <enumeration value="WEBLINK_SIZE_LIMIT_EXCEEDED" />
   <enumeration value="WEBLINK_URL_INVALID" />
   <enumeration value="WRONG_CONTROLLER_TYPE" />
   <enumeration value="XCLEAN_UNEXPECTED_ERROR" />
  </restriction>
 </simpleType>
</schema>